.calendar{
  display: flex;
  justify-content: center;
  align-items: center;
  @include segment-color;
  @include flex-position;
  @include border-bottom;

  &__pick{
    // padding: 1rem;
    margin: 4rem 1rem;

    &--container{
      display: flex;
      justify-content: space-between;
      border: 1px solid $header-color-grey;
      border-radius: 5px;
      padding: 1rem 2rem;

      .date--to{
        border-left: 1px solid $header-color-grey;
        padding-left: 1.5rem;
      }

      .date--fr,
      .date--to{
        align-self: center;
        font-size: $paragraph-font-size;
        margin: .2rem 2rem .2rem 0;
      }

      .date--icon{
        align-self: center;
        padding-left: 2.5rem;
      }

      .date--fr{padding-right: 3rem;}
    }
  }

  &__button{
    padding: 1.5rem;
  }
}