.btn{
  background-color: $button-color-orange;
  border: none;
  border-radius: 5px;
  color: $color-font-light-second;
  cursor: pointer;
  font-size: $paragraph-font-size;
  font-family: $brand-font;
}

.button--add,
.button--save{
  align-self: center;
  padding: 1rem 2rem;
  margin: 2rem 0;
  font-size: $page-header-font-size;
  font-family: $brand-font;
}

.button--save{
  @include respond(phone) {
    margin: 2rem 0 2rem -6rem;
  }
}

.icon__item{padding: 0 1rem;}

.table{
  align-self: center;
  width: 100%;
  
  display: flex;
  justify-content: center;

  table{
    width: 75%;
    border-collapse: collapse;
    margin-bottom: 1rem;
  }

  h3{font-weight: 700;}
}

td {
  @include table-border;

  a {
    text-decoration: none;
    font-size: $page-header-font-size;
    font-family: $brand-font;
    color: $color-blue;
  }
}

td:nth-child(2) {
  width: 70%;
}

.last--td {
  @include border-bottom;
}

tr:hover{background: $color-font-light;}

tr{
  background: none;
  transition: all .4s cubic-bezier(1, .22, .29, 1);
}

input{
  width: 10%;
  padding: .8rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid $header-color-grey;
  background: $color-font-light-second;
  box-shadow: none;
  transition: all .4s;
  color: $color-blue;
  font-family: $brand-font;
  font-size: $paragraph-font-size;

  @include respond(tab-land) {
    width: 8%;
  }

  @include respond(phone) {
    width: 5%;
  }

  &:focus{background-color: $color-dark-main;}
}


label{
  font-family: $paragraph-font;
  font-size: $page-header-font-size;
  font-weight: 700;
  text-transform: capitalize;
  color: $header-color-grey;
}

