
// .grid{
//   display: grid;
//   grid-template-rows:repeat(5, min-content);
//   grid-template-columns: [nav-start] minmax(min-content, max-content) [nav-end full-start] 1fr [center-start] repeat(8, minmax(min-content, 14rem)) [center-end] 1fr [full-end];
// }

.grid{
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5rem;
  justify-content: space-between;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: center;
  width: 100%;
}

.container{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: center;
  @include width-calc;
  @include margin-main;
}