
/* Colors */
$paragraph-color: #333333;
$brand-main-color: #ff0000;
$header-color-grey: #979797;
$header-color-grey-light: #b1b1b1;
$color-font-light:#e3e3e3;
$color-font-light-second: #f5f5f2;
$button-color-orange: #f58220;
$color-green: #04ae00;
$color-dark-main: #333333;
$color-blue: #689abe;


/* Font sizes */
$paragraph-font-size: 1.4rem;
$page-header-font-size: 1.6rem;
$small-link-font-size: 1.3rem;


/* Fonts */
$logo-font: 'Indie Flower', cursive;
$brand-font: 'Roboto', sans-serif;
$paragraph-font: 'Lato', sans-serif;