
/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$header-color-grey: #979797;
$button-color-orange: #f58220;
$color-green: #04ae00;


/* Font sizes */
$paragraph-font-size: 1.4rem;
$page-header-font-size: 1.6rem;
$small-link-font-size: 1.3rem;


/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;